.idea/
.vscode/c_cpp_properties.json
*.json
PyTorchLightning/Basics/.ipynb_checkpoints/Introduction to PyTorch-checkpoint.ipynb
PyTorchLightning/Basics/.ipynb_checkpoints/Introduction to PyTorch-checkpoint.ipynb
PyTorchLightning/Basics/.ipynb_checkpoints/Introduction to PyTorch-checkpoint.ipynb
__pycache__/
**/__pycache__/
data/